<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fail</title>
</head>
<body>
    OOPS! Payment Failed. Please try again after some time.
</body>
</html>
