<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>payment</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" type="image/x-icon">

    <!-- Font awesome -->
    <link href="~/assets/css/font-awesome.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Theme color -->
    <link id="switcher" href="~/assets/css/theme-color/default-theme.css?v=1.1" rel="stylesheet">
    <!-- Main style sheet -->
    <link href="~/assets/css/iconFont.css" rel="stylesheet">
    <link href="~/assets/css/style.css?v=1.1" rel="stylesheet">
    <link href="~/assets/css/bootstrap-pincode-input.css" rel="stylesheet" />

    <!-- Google Fonts -->
    <!-- Prata for body  -->
    <link href='https://fonts.googleapis.com/css?family=Prata' rel='stylesheet' type='text/css'>
    <!-- Tangerine for small title -->
    <link href='https://fonts.googleapis.com/css?family=Tangerine' rel='stylesheet' type='text/css'>
    <!-- Open Sans for title -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <!-- Robot for All -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <script src="~/assets/js/jquery-3.1.0.slim.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        var name = sessionStorage.getItem('name');
        var email = sessionStorage.getItem('email');
        var price = sessionStorage.getItem('price');
        var address = sessionStorage.getItem('address');
        var razorPayKey = "@ViewBag.RazorPayKey";
        var descr = sessionStorage.getItem('Descr');
    </script>
    <style>
        /* Large rounded green border */
        hr.new5 {
            border: 10px solid green;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h2>Cart4 All RazorPay Interface</h2>
    <button id="rzp-button1" class="btn btn-success">Pay With RazorPay</button>
    <hr class="new5">
    <div class="container">
        <div class="well name">name</div>
        <div class="well description">descr</div>
        <div class="well address">address</div>
        <div class="well spnTotalAmount">price</div>
    </div>
    <hr class="new5">
    <script>
        var options = {
            "key": razorPayKey,
            "amount": parseFloat(price) * 100, // 2000 paise = INR 20
            "name": "Cart4All",
            "description": "test",
            "image": "/assets/img/Cart4All.JPG",
            "handler": function (response) {
                //alert(response.razorpay_payment_id);
                location.href = '/payment/success';
                
            },
            "prefill": {
                "name": name,
                "email": email
            },
            "notes": {
                "address": address
            },
            "theme": {
                "color": "#F37254"
            }
        };
        var rzp1 = new Razorpay(options);
        price
        document.getElementById('rzp-button1').onclick = function (e) {
            rzp1.open();
            e.preventDefault();
        }
    </script>
    <script type="text/javascript">
        $('.name').html("<strong>Customer Name:</strong> " + name);
        $('.spnTotalAmount').html("<strong>Total Cart Price: </strong>₹" + price);
        $('.description').html("<strong>Item Details:</strong><br />" + descr);
        $('.address').html("<strong>Delivery Address:</strong> " + address);
        $('#rzp-button1').text('Pay ₹' + price + ' with RazorPay');
    </script>
</body>
</html>