@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Start Footer -->
<footer id="mu-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="mu-footer-area">
                   <div class="mu-footer-social">
                    <a href="#"><span class="fa fa-facebook"></span></a>
                    <a href="#"><span class="fa fa-twitter"></span></a>
                    <a href="#"><span class="fa fa-google-plus"></span></a>
                    <a href="#"><span class="fa fa-linkedin"></span></a>
                    <a href="#"><span class="fa fa-youtube"></span></a>
                  </div>
                  <div class="mu-footer-copyright">
                    <p>&copy; Copyright <a rel="nofollow" href="http://markups.io">markups.io</a>. All right reserved.</p>
                  </div>
                </div> -->
                <div class="col-md-3">
                    <div class="addressArea">
                        <h3>Address</h3>
                        <span>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="offers">
                        <h3>Offers</h3>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="phoneNumber">
                        <h3>Phone Number</h3>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="fssaiImage"><img src="~/assets/img/fssai.png" /></div>
                    <div class="rLicNo">1234567890</div>
                </div>
            </div>
        </div>
    </div>
</footer>