@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Address of Cart4All goes here<br />
    <br />
    <abbr title="Phone">tel:</abbr>
    9967248008
</address>

<address>
    <strong>Support:</strong> <a href="mailto:admin@articoletech.com">"admin@articoletech.com"</a><br />
    <strong>Sales:</strong> <a href="mailto:admin@articoletech.com">"admin@articoletech.com"</a>
</address>
<span><a href="https://rzp.io/l/WWcfwve" style="position:relative;display:block;min-height:38px;width:240px;padding:10px;margin:0 auto;line-height:18px;font-weight:600;
font-size:14px;font-family:Lato, Muli, -apple-system, BlinkMacSystemFont, Arial, sans-serif;word-break:break-word;border-radius:2px;text-align:center;
background-color:#528FF0;color:#fff;box-shadow:0 0 24px 0 rgba(0,0,0,0.2);z-index:2" target="_blank">Pay Now</a><div style="margin-top:4px;text-align:center">
    <img height="16px" src="https://cdn.razorpay.com/static/assets/powered_by_razorpay.png" />
    </div>
    </span>