
/*=======================================
Template Design By SantoshDhonde.
========================================*/

.scrollToTop {
  background-color: #3498db;  
}
.scrollToTop:hover {
  background-color: #4cabeb;  
}
.productAddCart button.addToCart, .manageCart{line-height:40px; padding:0 20px; background:none; border:1px solid #3498db; color:#3498db; font-weight:700;}
.btn-block.checkOut {background:#3498db; color:#fff; border-radius:0;}
.btn-block.checkOut:hover{box-shadow:0 2px 8px #d4d5d9; background:#4cabeb;}
#paymentMethod .modal-footer .btn.proceedButton, #forgotPassword .modal-footer .btn.proceedButton {background:#3498db; color:#fff; border-radius:0 0 5px 0;}
#paymentMethod .modal-footer .btn.proceedButton:hover, #forgotPassword .modal-footer .btn.proceedButton:hover {background:#4cabeb;}
.paymentOptions .icon-checked {color:#3498db;}
.icon-plus{color:#3498db; font-size:28px; display:inline-block;margin:6px 0 0 10px;}
.btn-primary{background:#3498db;border:0 none;}
.btn-primary:hover{background:#4cabeb;border:0 none;}
.jumbotron h1, .jumbotron .h1{font-weight:300; color:#3498db;}
.navbar-primary {background:#3498db;}
.nav > li > a, .navbar-header a {color:#fff;}
.menuPage .nav > li > a:hover, .menuPage .nav > li > a:focus, .menuPage .nav > li.active a,
.orderPage .nav > li > a:hover, .orderPage .nav > li > a:focus, .orderPage .nav > li.active a
 {background:#4cabeb;}
#startHotel.btn-default, #startHotel.btn-success{border:0 none; background:#3498db; color:#fff;}
#startHotel.btn-default:focus, #startHotel.btn-default.focus,
#startHotel.btn-default:hover {background:#4cabeb;}

/*=======================================
Template Design By SantoshDhonde.
========================================*/