
/*=======================================
Template Design By SantoshDhonde.
========================================*/

.scrollToTop {
  background-color: #578900;  
}
.scrollToTop:hover {
  background-color: #72a616;  
}
.productAddCart button.addToCart, .manageCart{line-height:40px; padding:0 20px; background:none; border:1px solid #578900; color:#578900; font-weight:700;}
.btn-block.checkOut {background:#578900; color:#fff; border-radius:0;}
.btn-block.checkOut:hover{box-shadow:0 2px 8px #d4d5d9; background:#72a616;}
#paymentMethod .modal-footer .btn.proceedButton, #forgotPassword .modal-footer .btn.proceedButton {background:#578900; color:#fff; border-radius:0 0 5px 0;}
#paymentMethod .modal-footer .btn.proceedButton:hover, #forgotPassword .modal-footer .btn.proceedButton:hover {background:#72a616;}
.paymentOptions .icon-checked {color:#578900;}
.icon-plus{color:#578900; font-size:28px; display:inline-block;margin:6px 0 0 10px;}
.btn-primary{background:#578900;border:0 none;}
.btn-primary:hover{background:#72a616;border:0 none;}
.jumbotron h1, .jumbotron .h1{font-weight:300; color:#578900;}
.navbar-primary {background:#578900;}
.nav > li > a, .navbar-header a {color:#fff;}
.menuPage .nav > li > a:hover, .menuPage .nav > li > a:focus, .menuPage .nav > li.active a,
.orderPage .nav > li > a:hover, .orderPage .nav > li > a:focus, .orderPage .nav > li.active a
{background:#72a616;}
#startHotel.btn-default, #startHotel.btn-default:focus, #startHotel.btn-default.focus{ outline:none;border:1px solid #578900; background:#fff; color:#578900;}
#startHotel.btn-success{border:1px solid #578900; background:#578900; color:#fff;}
#startHotel.btn-default:hover {background:#72a616; color:#fff;}
/*=======================================
Template Design By SantoshDhonde.
========================================*/