
/*=======================================
Template Design By SantoshDhonde.
========================================*/

.scrollToTop {
  background-color: #ff871c;  
}
.scrollToTop:hover {
  background-color: #ffa04c;  
}
.productAddCart button.addToCart, .manageCart{line-height:40px; padding:0 20px; background:none; border:1px solid #ff871c; color:#ff871c; font-weight:700;}
.btn-block.checkOut {background:#ff871c; color:#fff; border-radius:0;}
.btn-block.checkOut:hover{box-shadow:0 2px 8px #d4d5d9; background:#ffa04c;}
#paymentMethod .modal-footer .btn.proceedButton, #forgotPassword .modal-footer .btn.proceedButton {background:#ff871c; color:#fff; border-radius:0 0 5px 0;}
#paymentMethod .modal-footer .btn.proceedButton:hover, #forgotPassword .modal-footer .btn.proceedButton:hover {background:#ffa04c;}
.paymentOptions .icon-checked {color:#ff871c;}
.icon-plus{color:#ff871c; font-size:28px; display:inline-block;margin:6px 0 0 10px;}
.btn-primary{background:#ff871c;border:0 none;}
.btn-primary:hover{background:#ffa04c;border:0 none;}
.jumbotron h1, .jumbotron .h1{font-weight:300; color:#ff871c;}
.navbar-primary {background:#ff871c;}
.nav > li > a, .navbar-header a {color:#fff;}
.menuPage .nav > li > a:hover, .menuPage .nav > li > a:focus, .menuPage .nav > li.active a,
.orderPage .nav > li > a:hover, .orderPage .nav > li > a:focus, .orderPage .nav > li.active a
{background:#ffa04c;}
#startHotel.btn-default, #startHotel.btn-success{border:0 none; background:#ff871c; color:#fff;}
#startHotel.btn-default:focus, #startHotel.btn-default.focus,
#startHotel.btn-default:hover {background:#ffa04c;}
/*=======================================
Template Design By SantoshDhonde.
========================================*/
